<!--
  Generated template for the FileUploadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>fileUpload</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- Multiple
  <input type="file" ng2FileSelect [uploader]="uploader" multiple />
  <br/> Single
  <input type="file" ng2FileSelect [uploader]="uploader" />
  <br/> -->
  
  <div class="div1">
      <!-- <div class="div2">点击上传</div> -->
      <img class="div2" src="{{ img_src }}" alt="">
      <input type="file" class="file_input" ng2FileSelect [uploader]="uploader" />
      <p *ngIf="uploader?.queue[0]?.progress && uploader?.queue[0]?.progress < 100">已上传：{{ uploader?.queue[0]?.progress }}%</p>
      <input type="hidden" name="upload_url" value="{{ upload_url }}">
  </div>
  <br/><br>


  <!-- <button type="button" class="btn btn-success btn-s" (click)="upload()">
    <span class="glyphicon glyphicon-upload"></span> Upload all
  </button> -->


  <!-- <h3>File Upload with Angular 2 and Node</h3>
  Queue length: {{ uploader?.queue?.length }}
  <table class="table">
    <thead>
      <tr>
        <th width="50%">Name</th>
        <th>Size</th>
        <th>Progress</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of uploader?.queue">
        <td>
          <strong>{{ item.file.name }}</strong>
        </td>
        <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
        <td>
            {{ item.progress }}%
        </td>
        <td class="text-center">
          <span *ngIf="item.isSuccess">
            <i class="glyphicon glyphicon-ok"></i>
          </span>
          <span *ngIf="item.isCancel">
            <i class="glyphicon glyphicon-ban-circle"></i>
          </span>
          <span *ngIf="item.isError">
            <i class="glyphicon glyphicon-remove"></i>
          </span>
        </td>
        <td nowrap>
          <button type="button" class="btn btn-success btn-xs" (click)="itemupload(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
            <span class="glyphicon glyphicon-upload"></span> Upload
          </button>
          <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
          </button>
          <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
            <span class="glyphicon glyphicon-trash"></span> Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table> -->
  <!-- <div>
    <div>
      Queue progress:
      <div class="progress">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
      </div>
    </div>
    <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
      <span class="glyphicon glyphicon-upload"></span> Upload all
    </button>
    <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
      <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
    </button>
    <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
      <span class="glyphicon glyphicon-trash"></span> Remove all
    </button>
  </div> -->
</ion-content>